

/* Tabs container */
.r-tabs {
	position: relative;

	background-color: #00c4c4;

	

}

/* Tab element */
.r-tabs .r-tabs-nav .r-tabs-tab {
	position: relative;
	background-color: #00c4c4;
	border-right: 1px solid #fff;
	border-bottom: 0px solid #fff;
}

/* Tab anchor */
.r-tabs .r-tabs-nav .r-tabs-anchor {
	display: inline-block;
	text-decoration: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}

.r-tabs .r-tabs-nav .r-tabs-anchor p{
   
    font-family: 'roboto',sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 500;text-shadow: none;
}

/* Disabled tab */
.r-tabs .r-tabs-nav .r-tabs-state-disabled {
	opacity: 0.5;
}

/* Active state tab anchor */
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
	color: #fff;
	text-shadow: none;
    background-color: #a4136e;
}

/* Tab panel */
.r-tabs .r-tabs-panel {
	background-color: white;
    border-bottom: 4px solid white;

}

/* Accordion anchor */
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
	display: block;
	padding: 10px;

	background-color: #00c4c4;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	font-size: 14px;
   border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	text-align: center;
	border-bottom: 1px solid #fff;
}

.r-tabs .r-tabs-accordion-title .r-tabs-anchor p{
	font-family: 'roboto',sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 500;text-shadow: none;
}

/* Active accordion anchor */
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
	background-color: #a4136e;
	color: #00c5ad;
	text-shadow: none;
	text-align: center;
}

.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor p{
   
    font-family: 'roboto',sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 500;text-shadow: none;
}

/* Disabled accordion button */
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
	opacity: 0.5;
}

/* Buttons */
button {
	display:inline-block;
	margin-top: 10px;
	margin-right: 10px;
	padding: 10px 20px;
	line-height: 100%;

	color: #fff;
	font-size: 14px;
	text-align: center;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	vertical-align: middle;
	font-weight: bold;
	
	border: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #00c5ad;
	box-shadow: 0px 3px 0px 0px #00ab94;
	
	cursor: pointer;
}

/* Info bar */
.info {
	display:inline-block;
	margin-top: 10px;
	margin-right: 10px;
	padding: 10px 20px;
	width: 300px;
	line-height: 100%;

	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 14px;
	color: #00c5ad;
	border: 2px solid #00ab94;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;

	cursor: pointer;
} 

.one{min-height: 460px; }

.two{min-height: 500px;}

.three{min-height: 530px;}

.four{min-height: 530px;}

.five{min-height: 460px;}

.six{min-height: 730px;}


.test-padd {padding: 21px 50px 11px 50px !important;}

.test-padd2 {padding: 21px 46px 11px 46px !important;}

.test-padd3 {padding: 21px 51px 11px 50px !important;}

.test-padd4 {padding: 21px 17px 11px 17px !important;}

.test-padd5 {padding: 21px 35px 11px 35px !important;}

.test-padd6 {padding: 21px 22px 11px 21px !important;}







@media only screen and (min-width: 1170px) and (max-width: 1280px){
.test-padd {padding: 21px 51px 11px 51px !important;}

.test-padd2 {padding: 21px 47px 11px 47px !important;}

.test-padd3 {padding: 21px 51px 11px 51px !important;}

.test-padd4 {padding: 21px 18px 11px 18px !important;}

.test-padd5 {padding: 21px 36px 11px 36px !important;}

.test-padd6 {padding: 21px 23px 11px 23px !important;}

 .tab-image-left {
        width: 30%;
        float: left;
        margin-right: 0%;
    }
    .tab-text-padd {
        padding: 25px 0px 0 0px;
        width: 70%;
        float: left;
    }

.tab-image-left img{width: 90%; text-align: center;}

.tab-mt-50 {
    margin-top: 0px;
}

.tab-text-padd h6 {
    padding-bottom: 0px;
}

.course-list {
   width: 80%;
  }

.box-section li {
    position: relative;
    padding-left: 24px;
    padding-bottom: 18px;
    float: left;
    padding-right: 25px;
    width: 33%;
}


	}


@media only screen and (min-width: 1000px) and (max-width: 1169px){

.one{min-height: 400px; }

.two{min-height: 580px;}

.three{min-height: 580px;}

.four{min-height: 600px;}

.five{min-height: 540px;}

.six{min-height: 800px;}


.test-padd {padding: 21px 51px 11px 51px !important;}

.test-padd2 {padding: 21px 47px 11px 47px !important;}

.test-padd3 {padding: 21px 51px 11px 51px !important;}

.test-padd4 {padding: 21px 18px 11px 18px !important;}

.test-padd5 {padding: 21px 36px 11px 36px !important;}

.test-padd6 {padding: 21px 23px 11px 23px !important;}

 .tab-image-left {
        width: 30%;
        float: left;
        margin-right: 0%;
    }
    .tab-text-padd {
        padding: 25px 0px 0 0px;
        width: 70%;
        float: left;
    }

.tab-image-left img{width: 90%; text-align: center;}

.tab-mt-50 {
    margin-top: 0px;
}

.tab-text-padd h6 {
    padding-bottom: 0px;
}

.course-list {
   width: 80%;
  }

.box-section li {
    position: relative;
    padding-left: 24px;
    padding-bottom: 18px;
    float: left;
    padding-right: 25px;
    width: 33%;
}




}




@media only screen and (min-width: 768px) and (max-width: 999px){


.one{min-height: 680px; }

.two{min-height: 900px;}

.three{min-height: 870px;}

.four{min-height: 890px;}

.five{min-height: 800px;}

.six{min-height: 1100px;}


.test-padd {padding: 21px 50px 11px 50px !important;}

.test-padd2 {padding: 21px 46px 11px 46px !important;}

.test-padd3 {padding: 21px 51px 11px 50px !important;}

.test-padd4 {padding: 21px 17px 11px 17px !important;}

.test-padd5 {padding: 21px 35px 11px 35px !important;}

.test-padd6 {padding: 21px 22px 11px 21px !important;}

 .tab-image-left {
        width: 100%;
        float: left;
        margin-right: 0%;
    }
    .tab-text-padd {
        padding: 25px 0px 0 0px;
        width: 100%;
        float: left;
    }
.tab-image-left img{width: 40%; text-align: center;}

.tab-mt-50 {
    margin-top: 20px;
}

.tab-text-padd h4 {
    font-family: 'Poppins',sans-serif;
    font-size: 17px;
    color: #9a0b59;
    padding-bottom: 0px;
}

.box-section ul{margin-bottom: 0px;}


}




@media only screen and (min-width: 640px) and (max-width: 767px){

.one{min-height: 950px; }

.two{min-height: 1150px;}

.three{min-height: 1190px;}

.four{min-height: 1190px;}

.five{min-height: 1100px;}

.six{min-height: 1420px;}


.test-padd {padding: 21px 50px 11px 50px !important;}

.test-padd2 {padding: 21px 46px 11px 46px !important;}

.test-padd3 {padding: 21px 51px 11px 50px !important;}

.test-padd4 {padding: 21px 17px 11px 17px !important;}

.test-padd5 {padding: 21px 35px 11px 35px !important;}

.test-padd6 {padding: 21px 22px 11px 21px !important;}

 .tab-image-left {
        width: 100%;
        float: left;
        margin-right: 0%;
    }
    .tab-text-padd {
        padding: 25px 0px 0 0px;
        width: 100%;
        float: left;
    }
.tab-image-left img{width: 70%}

.tab-mt-50 {
    margin-top: 20px;
}

.tab-text-padd h4 {
    font-family: 'Poppins',sans-serif;
    font-size: 17px;
    color: #9a0b59;
    padding-bottom: 0px;
}

.box-section ul{margin-bottom: 0px;}

}



@media only screen and (min-width: 480px) and (max-width: 639px){

.one{min-height: 820px; }

.two{min-height: 1080px;}

.three{min-height: 1080px;}

.four{min-height: 1080px;}

.five{min-height: 980px;}

.six{min-height: 1335px;}


.test-padd {padding: 21px 50px 11px 50px !important;}

.test-padd2 {padding: 21px 46px 11px 46px !important;}

.test-padd3 {padding: 21px 51px 11px 50px !important;}

.test-padd4 {padding: 21px 17px 11px 17px !important;}

.test-padd5 {padding: 21px 35px 11px 35px !important;}

.test-padd6 {padding: 21px 22px 11px 21px !important;}

 .tab-image-left {
        width: 100%;
        float: left;
        margin-right: 0%;
    }
    .tab-text-padd {
        padding: 25px 0px 0 0px;
        width: 100%;
        float: left;
    }
.tab-image-left img{width: 70%}

.tab-mt-50 {
    margin-top: 20px;
}

.tab-text-padd h4 {
    font-family: 'Poppins',sans-serif;
    font-size: 21px;
    color: #9a0b59;
    padding-bottom: 0px;
}

.box-section ul{margin-bottom: 0px;}

}



@media only screen and (max-width: 479px){
	.one{min-height: 970px; }

.two{min-height: 1300px;}

.three{min-height: 1300px;}

.four{min-height: 1300px;}

.five{min-height: 1200px;}

.six{min-height: 1860px;}


.test-padd {padding: 21px 50px 11px 50px !important;}

.test-padd2 {padding: 21px 46px 11px 46px !important;}

.test-padd3 {padding: 21px 51px 11px 50px !important;}

.test-padd4 {padding: 21px 17px 11px 17px !important;}

.test-padd5 {padding: 21px 35px 11px 35px !important;}

.test-padd6 {padding: 21px 22px 11px 21px !important;}

 .tab-image-left {
        width: 100%;
        float: left;
        margin-right: 0%;
    }
    .tab-text-padd {
        padding: 25px 0px 0 0px;
        width: 100%;
        float: left;
    }
.tab-image-left img{width: 100%}

.tab-mt-50 {
    margin-top: 20px;
}

.tab-text-padd h4 {
    font-family: 'Poppins',sans-serif;
    font-size: 17px;
    color: #9a0b59;
    padding-bottom: 0px;
}

.box-section ul{margin-bottom: 0px;}

}